export COUNTRY_OF_QUERY=IN
export LOGGING=true
export RATE_LIMIT_WINDOW_MS=900000
export RATE_LIMIT_MAX_REQUESTS=100
export RATE_LIMIT_SKIP_SUCCESSFUL_REQUESTS=false
export RATE_LIMIT_SKIP_FAILED_REQUESTS=false